<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256107932838-4iknpjbmt9binhq0oal6ehbccvenlkri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256107932838-4iknpjbmt9binhq0oal6ehbccvenlkri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256107932838-0s3jv2b9kcdh052tr5skve2ktnmvl2d6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAb0WgFvgonc0LTpDVOqNNtZOeHeYzS9VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256107932838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tongtong</string>
	<key>PROJECT_ID</key>
	<string>tongtong-5936b</string>
	<key>STORAGE_BUCKET</key>
	<string>tongtong-5936b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256107932838:ios:cd39b0d9bd4a3ebbac9867</string>
</dict>
</plist>